**/node_modules
**/wasp-analytics-cached-events.json
**/dist

# Ignore project files
.husky
.github

# Ignore deployment files
fly.toml

# Ignores all .env files by default
.env*

# Dont ignore example .env files
!.env*.example

# Don't ignore dotenv .env files
!.env.project
!.env.vault

# These one is here because dotenv keeps adding it if it doesn't find it
.flaskenv*
