**/node_modules
**/wasp-analytics-cached-events.json
**/dist

# Don't copy secrets.
.env
.env.*

# Ignore CICD files.
.husky
.github
fly.toml
Dockerfile

# These are added only because dotenv-vault keeps adding them if it doesn't find them,
# even though we don't need them. Remove them once dotenv-vault stops doing that.
.env*
!.env.project
!.env.vault
.flaskenv*
