**/node_modules
**/wasp-analytics-cached-events.json
**/dist

# Ignore project files
.env
.env.*
.husky
.github

# Ignore deployment files
fly.toml
Dockerfile

# These are added only because dotenv-vault keeps adding them if it doesn't find them,
# even though we don't need them. Remove them once dotenv-vault stops doing that.
!.env.project
!.env.vault
.flaskenv*
